<!-- 
<ul class="nav nav-pills">
    <li class="nav-item">
        <a
        [ngClass]="{active : selectedSkill === 'html'}"
         href="javascript:;" class="nav-link active"
         (click)="selectedSkill = 'html'">HTML</a>
    </li>
    <li class="nav-item">
        <a 
        [ngClass]="{active:selectedSkill === 'css'}"
        href="javascript:;" class="nav-link"
        (click)="selectedSkill = 'css'">CSS</a>
    </li>
    <li class="nav-item">
        <a
        [ngClass]="{active: selectedSkill === 'javascript'}"
         href="javascript:;" class="nav-link" 
        (click)="selectedSkill = 'javascript'">javascript</a>
    </li>
    <li class="nav-item">
        <a
        [ngClass]="{active:selectedSkill === 'angular'}"
         href="javascript:;" class="nav-link"
        (click)="selectedSkill = 'angular'">angular</a>
    </li>
</ul>


<div [ngSwitch]="selectedSkill">
    <div class="card"  *ngSwitchCase="'html'">
        <div class="card-body">
            <strong>html</strong>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, voluptas?
        </div>
    </div>

    <div class="card" *ngSwitchCase="'css'">
        <div class="card-body">
            <strong>css</strong>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, voluptas?
        </div>
    </div>

    <div class="card"  *ngSwitchCase="'javascript'">
        <div class="card-body" >
            <strong>javascript</strong>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, voluptas?
        </div>
    </div>

    <div class="card" *ngSwitchCase="'angular'">
        <div class="card-body">
            <strong>angular</strong>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, voluptas?
        </div>
    </div>
</div> -->


<p>
    {{getmsgfromparent}}
</p>




