.home-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  flex: 1;          
}

.card-actions {
  margin-top: auto; 
}

.home-img {
  height: 200px;
  object-fit: cover;
}

.w-100{
  width:100%;
}
.card{
  width:80%
}
